@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Merriweather|Raleway');
html, body {
	height: 100%;
	width: 100%;
    font-family: "Raleway";
}

section {
    background-color: gray;
    color: white;
    min-height: 100vh;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
nav{
    font-weight: bold;
}
#header {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	background: url('../img/banner.jpg') no-repeat center;
	background-position: center;
  	background-size: cover;
	background-repeat: no-repeat;
    border-top: 0;
  	min-height: 100vh;
    height: 100vh !important;
    position: relative;
  	text-align: center;
  	overflow: hidden;
}

#header h1 {
    font-size: 6em;
    margin-bottom: .25em;
    color: #FFF;
    font-weight: bold;
}



.header .navbar .bg-trans {
  background-color: transparent;
  
}

.bg-dark {
	opacity: 0.5;
  	filter:  alpha(opacity=50);
}

.bg-trans {
	transition: all 1s ease;
}


.leading-text {
	color: white;
 	text-align:center;
 	padding-top: 15%;

}

.somos {
    background-color: gray;
    color: white;
    min-height: 100vh;
}

/*Seccion hcm*/
.hacemos {
    background-color: white;
    color: black;
    min-height: 100vh;
}
.titu {
    font-size: 2em;
}

.hcm {
    font-size: 1.5em;
}

#portafolio {

}

.portafolio {
	background-color: gray;
	color: white;
	min-height: 100vh;
}

.text-center h2 {
    font-size: 3em;
}

.img {
	width: 100%;
}

.muestra {
	width: 50px;
	height: 100px;
	margin-bottom: 50px;
}
.center  {
	text-align: center;
}

/*Estilo para las imagenes*/
.btn01 {
    width: 100%;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.btn01 img {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}
.btn01 .ovrly {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    top: 100%;
    width: 100%;
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.btn01 .buttons {
    position: absolute;
    bottom: -100%;
    left: 50%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}
.btn01 .buttons .fa {
    /*margin: 0 1px;*/
    background: rgb(256, 256, 256);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: rgba(50, 50, 50, 0.9);
    display: inline-block;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
}
.btn01:hover .buttons {
    bottom: 50%;
}
.btn01:hover .ovrly {
    top: 0;
}

.btn02 {
    width: 100%;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.btn02 img {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}
.btn02 .ovrly {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    top: 100%;
    width: 100%;
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.btn02 .buttons {
    position: absolute;
    bottom: -100%;
    left: 50%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}
.btn02 .buttons .fa {
    /*margin: 0 1px;*/
    background: rgb(256, 256, 256);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: rgba(50, 50, 50, 0.9);
    display: inline-block;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
}
.btn02:hover .buttons {
    bottom: 50%;
}
.btn02:hover .ovrly {
    top: 0;
}
.btn03 {
    width: 100%;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.btn03 img {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}
.btn03 .ovrly {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    top: 100%;
    width: 100%;
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.btn03 .buttons {
    position: absolute;
    bottom: -100%;
    left: 50%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}
.btn03 .buttons .fa {
    /*margin: 0 1px;*/
    background: rgb(256, 256, 256);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: rgba(50, 50, 50, 0.9);
    display: inline-block;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
}
.btn03:hover .buttons {
    bottom: 50%;
}
.btn03:hover .ovrly {
    top: 0;
}

.btn04 {
    width: 100%;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.btn04 img {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}
.btn04 .ovrly {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    top: 100%;
    width: 100%;
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.btn04 .buttons {
    position: absolute;
    bottom: -100%;
    left: 50%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}
.btn04 .buttons .fa {
    /*margin: 0 1px;*/
    background: rgb(256, 256, 256);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: rgba(50, 50, 50, 0.9);
    display: inline-block;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
}
.btn04:hover .buttons {
    bottom: 50%;
}
.btn04:hover .ovrly {
    top: 0;
}

.btn05 {
    width: 100%;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.btn05 img {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}
.btn05 .ovrly {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    top: 100%;
    width: 100%;
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.btn05 .buttons {
    position: absolute;
    bottom: -100%;
    left: 50%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}
.btn05 .buttons .fa {
    /*margin: 0 1px;*/
    background: rgb(256, 256, 256);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: rgba(50, 50, 50, 0.9);
    display: inline-block;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    width: 40px;
    height: 40px;
}
.btn05:hover .buttons {
    bottom: 50%;
}
.btn05:hover .ovrly {
    top: 0;
}

